{% if name == "lingual-odyssey" %}
<blockquote class="twitter-tweet" data-media-max-width="560">
  <p lang="en" dir="ltr">
    Was able to solve day-9 part-2 of advent of code with just one-line change
    to part-1. (in OCaml)<br /><br />Functional programming definitely has its
    perks!!<br /><br />If you are curious you can check the code out here.<a
      href="https://t.co/4ItEdCRS7q"
      >https://t.co/4ItEdCRS7q</a
    ><a
      href="https://twitter.com/hashtag/ocaml?src=hash&amp;ref_src=twsrc%5Etfw"
      >#ocaml</a
    >
    <a
      href="https://twitter.com/hashtag/functional?src=hash&amp;ref_src=twsrc%5Etfw"
      >#functional</a
    >
    <a
      href="https://twitter.com/hashtag/programming?src=hash&amp;ref_src=twsrc%5Etfw"
      >#programming</a
    >
    <a href="https://t.co/DLKAgPD6Gn">pic.twitter.com/DLKAgPD6Gn</a>
  </p>
  &mdash; Nishant Joshi (@nishantjosh)
  <a
    href="https://twitter.com/nishantjosh/status/1736406080459091993?ref_src=twsrc%5Etfw"
    >December 17, 2023</a
  >
</blockquote>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

{% endif %}
